@media (max-width: 767.98px) {
  .navbar a.brand {
    font-size: 1.2rem;
  }

  .navbar a:last-child {
    font-size: 1rem;
  }
}

.navbar {
  background: #58249C;
  padding: 20px;
  color: #FFF;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar a.brand {
  color: #FFF;
  text-decoration: none;
}

.navbar a:last-child {
  color: #FFF;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #FFF;
  border-radius: 4px;
}

.navbar a:last-child:hover {
  background: #FFF;
  color: #333;
}
