.navbar {
  background: #58249C;
  padding: 20px;
  color: #FFF;
}

.navbar nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar a.brand {
  color: #FFF;
  text-decoration: none;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choices a {
  color: #FFF;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #FFF;
  border-radius: 4px;
}

.choices a:hover {
  background: #FFF;
  color: #333;
}

@media (max-width: 767.98px) {
  .navbar nav {
    justify-content: center;
  }

  .navbar a.brand {
    display: none;
  }

  .choices a {
    font-size: 1rem;
  }
}
