.searchbar {
  position: relative;
}

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar input {
  margin: 0 10px;
}

.searchbar svg {
  height: 50%;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
}
